body {
    background-color: rgba(200, 100, 145, 0.3)
    
}


.header {
    color: rgb(154, 5, 184);
    background-color: orange;
    text-align: center;
}

a {
    font-size: xx-large;
    text-decoration: none;
    font-style: italic;
}

ul > li {
    outline-style: dashed;
    background-color: palegoldenrod;
    width: 92%;
    padding: 50px;
}